html
  head
    title meet Brad.
  body
    include components/header.pug
    main
      include components/portfolio.pug
      include components/projects.pug
      include components/info.pug
      
    

    include components/footer.pug
