html
  head
    title meet Brad.
  body
    include components/header.pug
    main
      .scroll-box
        .project-box
          img(src="../src/assets/images/placeholder.jpg", alt="PLACEHOLD")
          .overlay
            a(href="portfolio.html") 
              h1 Portfolio
              p The stuff I've done
        .project-box
          img(src="../src/assets/images/placeholder.jpg", alt="PLACEHOLD")
          .overlay
            a(href="projects.html") 
              h1 Projects
              p The stuff I'm working on
        .project-box
          img(src="../src/assets/images/placeholder.jpg", alt="PLACEHOLD")
          .overlay
            a(href="https://www.linkedin.com/in/brad-j-nelson" target="_blank") 
              h1 LinkedIn
              p Time to show off.
        .project-box
          img(src="../src/assets/images/placeholder.jpg", alt="PLACEHOLD")
          .overlay
            a(href="https://codepen.io/fullnelson14/" target="_blank") 
              h1 CodePen
              p The workshop...
        .project-box
          img(src="../src/assets/images/placeholder.jpg", alt="PLACEHOLD")
          .overlay
            a(href="https://github.com/fullnelson14" target="_blank") 
              h1 GitHub
              p Let's collaborate
        .project-box
          img(src="../src/assets/images/placeholder.jpg", alt="PLACEHOLD")
          .overlay
            a(href="info.html") 
              h1 Info
              p First name, last name, birthday, SSN, blah blah blah
        

      
    

    include components/footer.pug
