html
  head
    title meet Brad.
  body
    include components/header.pug
    main
      .scroll-box
        .project-box
        .project-box
        .project-box
        .project-box
        .project-box
        .project-box

      
    

    include components/footer.pug
