body {
  margin: 0;
  header {
    position: relative;
    nav {
      background-color: rebeccapurple;
      position: sticky;
      width: 100%;
      border-bottom: 2px solid black;
      a {
        text-decoration: none;
      }
      .flex-row {
        display: flex;
        justify-content: space-between;
        h1 {
          font-size: 25px;
          margin: 5px;
          color: black;
        }
        .links {
          display: flex;

          a {
            padding: 10px;
            color: black;
          }
        }
      }
    }
  }

  main {
    margin-top: 50px;
  }

  footer {
    border-top: 2px solid black;
    background-color: purple;
  }
}
