.portfolio    
  h4 Portfolio
  p Products that I have contributed to
  .display-row
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on