.projects
  h4 Projects
  p Projects that I am currently working on // experimental things
  .display-row
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on
    .project
      img(src="./../assets/images/placeholder.jpg", alt="")
      h5 Description title
      p This is the desciption of the project that I worked on